# Load and read MSA data

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [7]:
path = r'C:\Users\Lovisa\Documents\GitHub\Tjaernoe2022-group3\NyAl_GVB_PM10_MSA_2010-21_LN.xlsx'

In [8]:
msa = pd.read_excel(path)

In [6]:
pd.read_excel?

In [9]:
msa.head()

        Date time start  Vatt (m3)       MSA
0 2010-03-15   00:01:00    110.145  1.256452
1 2010-03-17   00:01:00    110.137  0.695687
2 2010-03-19   00:01:00    110.137  0.804288
3 2010-03-21   00:01:00    110.162  1.108054
4 2010-03-23   00:01:00    110.150   0.04503

In [10]:
type(msa.Date)

pandas.core.series.Series