# Load and read MSA data

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [19]:
path = r'C:\Users\Lovisa\Documents\GitHub\Tjaernoe2022-group3\NyAl_GVB_PM10_MSA_2010-21_LN.xlsx'

In [20]:
df_msa = pd.read_excel(path)

In [21]:
#pd.read_excel?

In [22]:
df_msa.head()

        Date time start  Vatt (m3)       MSA
0 2010-03-15   00:01:00    110.145  1.256452
1 2010-03-17   00:01:00    110.137  0.695687
2 2010-03-19   00:01:00    110.137  0.804288
3 2010-03-21   00:01:00    110.162  1.108054
4 2010-03-23   00:01:00    110.150   0.04503

In [24]:
df_msa.columns = ['dates', 'times','vatt','msa']
df_msa.head()

       dates     times     vatt       msa
0 2010-03-15  00:01:00  110.145  1.256452
1 2010-03-17  00:01:00  110.137  0.695687
2 2010-03-19  00:01:00  110.137  0.804288
3 2010-03-21  00:01:00  110.162  1.108054
4 2010-03-23  00:01:00  110.150   0.04503

In [26]:
print(type(df_msa.dates[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [31]:
df_msa['dates'] = pd.to_datetime(df_msa['dates'])

In [33]:
print(type(df_msa.dates[1]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [25]:
df_daily = df_msa.resample('D').mean()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'